@model KocamanHastanesi.Models.hasta

<h2>Login</h2>

<form asp-action="Giris" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="tc"></label>
        <input asp-for="tc" class="form-control" />
        <span asp-validation-for="tc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="sifre"></label>
        <input asp-for="sifre" type="password" class="form-control" />
        <span asp-validation-for="sifre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
